html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.head-bar {
  font-family: "Lora", serif;
  font-size: 42px;
  color: #3a3f4b;
  font-weight: 600;
  text-transform: uppercase;
  position: relative; }
  .head-bar::after {
    content: "";
    display: block;
    width: 147px;
    margin: 30px auto 0px;
    height: 4px;
    background-color: #00a5ff; }

.button {
  cursor: pointer;
  width: 280px;
  height: 65px;
  background-color: #00a5ff;
  border-radius: 50px;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s; }
  .button:active {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }

a {
  text-decoration: none; }

.header {
  background: url("../img/index.jpg") center no-repeat;
  background-size: cover; }

.navbar:after {
  content: "";
  display: table;
  clear: both; }

.navbar__logo {
  float: left;
  margin-top: 25px; }

.navbar__list {
  float: right;
  font-size: 0px;
  margin-top: 40px; }

.navbar__item {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-right: 50px;
  text-decoration: none; }
  .navbar__item:last-child {
    margin-right: 0px; }

.container {
  height: 645px;
  padding: 210px 0 150px; }

.center-container {
  text-align: center; }
  .center-container__head {
    font-family: "Lora", serif;
    color: #fff;
    font-weight: 600;
    font-size: 58px; }
  .center-container__discription {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 25px;
    padding: 45px 0 90px 0; }

.block-first {
  text-align: center;
  padding-top: 75px; }
  .block-first__head {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #3a3f4b;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    .block-first__head::after {
      content: "";
      display: block;
      width: 147px;
      margin: 30px auto 0px;
      height: 4px;
      background-color: #00a5ff; }

.services-list {
  padding-top: 120px;
  padding-bottom: 100px; }
  .services-list__item {
    display: inline-block;
    max-width: 260px;
    margin-right: 35px; }
    .services-list__item:last-child {
      margin-right: 0px; }
  .services-list__header {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 90px 0 38px;
    text-transform: uppercase; }
  .services-list__description {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    line-height: 20px; }

.logo-design-block__header,
.web-design-block__header,
.branding-block__header,
.illustrations-block__header {
  position: relative; }
  .logo-design-block__header::after,
  .web-design-block__header::after,
  .branding-block__header::after,
  .illustrations-block__header::after {
    content: "";
    width: 41px;
    height: 2px;
    background-color: #999999;
    position: absolute;
    left: calc(50% - 20.5px);
    bottom: 16px;
    margin: 0 auto; }

.logo-design-block__header::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  left: calc(50% - 17.5px);
  background: url(../img/logo-design.png) no-repeat; }

.web-design-block__header::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 35px;
  top: 20px;
  left: calc(50% - 21.5px);
  background: url(../img/web-design.png) no-repeat; }

.branding-block__header::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 35px;
  top: 20px;
  left: calc(50% - 11.5px);
  background: url(../img/branding.png) no-repeat; }

.illustrations-block__header::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 35px;
  top: 20px;
  left: calc(50% - 21px);
  background: url(../img/illustration.png) no-repeat; }

.block-second {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 80px;
  background-color: #f5f6f8; }
  .block-second__button {
    margin-top: 62px; }

.portfolio-menu__item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  display: inline-block;
  padding-top: 63px;
  margin: 0 30px;
  text-transform: uppercase;
  font-weight: 500; }
  .portfolio-menu__item:hover {
    color: #00a5ff; }

.tabs_divs div {
  display: none; }

.tabs_divs div.active {
  display: block; }

.tabs li.active {
  color: #00a5ff; }
  .tabs li.active::after {
    content: "";
    display: block;
    margin: 10px auto 0px;
    height: 1px;
    background-color: #00a5ff; }

.portfolio-content {
  padding: 50px 0 0 0;
  font-size: 0px; }
  .portfolio-content__block {
    width: 380px;
    height: 350px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
    vertical-align: top;
    font-size: 14px; }
    .portfolio-content__block:first-child, .portfolio-content__block:nth-child(4) {
      margin-left: 0px; }

.portfolio-content__discription {
  font-family: "Open Sans", sans-serif;
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  padding-top: 25px;
  display: block; }

.block-third {
  padding-bottom: 128px;
  text-align: center;
  padding-top: 70px;
  font-size: 0; }
  .block-third__brand-item {
    margin-top: 91px;
    width: 150px;
    height: 100px;
    display: inline-block;
    font-size: 0px;
    margin-left: 50px;
    opacity: 0.5; }
    .block-third__brand-item:first-child {
      margin-left: 0px; }
    .block-third__brand-item:hover {
      opacity: 1; }

.block-fourth {
  background-color: #f5f6f8;
  text-align: center;
  padding-top: 70px; }

ol {
  list-style: none; }

.prev,
.next {
  display: block;
  text-indent: -9999px; }

.prev {
  background-image: url(../img/icon_right.png);
  background-position: center center;
  background-repeat: no-repeat; }

.next {
  background-image: url(../img/icon_left.png);
  background-position: center center;
  background-repeat: no-repeat; }

.testimonials {
  position: relative;
  width: 100%;
  padding: 100px 0; }

.disabled {
  opacity: 0.5; }

.testimonials .prev,
.testimonials .next {
  float: left;
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  width: 3.5%;
  height: 100px;
  display: block; }

.testimonials .prev {
  left: 0;
  background-position: 60% 50%; }

.testimonials .next {
  right: 0;
  background-position: 40% 50%; }

.slider-content__discription {
  margin: 50px auto 0;
  width: 600px;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: #3a3f4b; }

.block-fifth {
  background-color: #3b404c;
  color: #f5f6f8; }
  .block-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .block-fifth__arrow {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #00a5ff;
    font-size: 30px;
    color: #ffffff;
    outline: 0;
    border: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    position: relative;
    top: 35px; }
    .block-fifth__arrow:active {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }

.contact-header {
  padding-top: 80px;
  padding-bottom: 100px; }
  .contact-header__logo {
    float: left;
    font-family: "Lora", serif;
    font-size: 33px;
    font-weight: 600; }
  .contact-header__navbar {
    float: right;
    font-size: 0px; }
  .contact-header__item {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-right: 30px; }
    .contact-header__item:last-child {
      margin-right: 0px; }

.contact-details {
  width: 350px;
  float: left; }
  .contact-details__item {
    padding: 30px 0; }

.contact-form {
  display: inline-block;
  width: 1170px; }
  .contact-form__head {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 28px;
    text-transform: uppercase; }
  .contact-form__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #999999; }

.contact-input {
  padding-top: 10px;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding-left: 60px; }
  .contact-input__subject {
    float: right;
    width: 360px; }
  .contact-input__name {
    float: left;
    width: 360px; }
  .contact-input__message {
    clear: both;
    padding-top: 60px; }
  .contact-input__button {
    margin-top: 40px; }

input {
  color: #ffffff;
  display: inline-block;
  width: 360px;
  height: 60px;
  font-size: 20px;
  border: 0px;
  border-bottom: 2px solid #999999;
  background-color: #3b404c; }
  input:focus {
    border-bottom: 2px solid #00a5ff; }

textarea {
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  width: 750px;
  height: 150px;
  font-size: 20px;
  border: 0px;
  border-bottom: 2px solid #999999;
  background-color: #3b404c;
  resize: none; }
  textarea:focus {
    border-bottom: 2px solid #00a5ff; }

.footer:after {
  content: "";
  display: table;
  clear: both; }

.footer__copy {
  padding: 40px 0 40px;
  float: left;
  color: #999999;
  font-size: 13px; }

.footer__networks {
  float: right;
  padding: 30px 0 30px; }

.button-center {
  text-align: center; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }
