html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.header {
  background: url("../img/index.jpg") center no-repeat;
  background-size: cover; }

.navbar:after {
  content: "";
  display: table;
  clear: both; }

.navbar__logo {
  float: left;
  margin-top: 25px; }

.navbar__list {
  float: right;
  font-size: 0px;
  margin-top: 40px; }

.navbar__item {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-right: 50px;
  text-decoration: none; }
  .navbar__item:last-child {
    margin-right: 0px; }

.container {
  height: 645px;
  padding: 210px 0 150px; }

.center-container {
  text-align: center; }
  .center-container__head {
    font-family: "Lora", serif;
    color: #fff;
    font-weight: 600;
    font-size: 58px; }
  .center-container__discription {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 25px;
    padding: 45px 0 90px 0; }
  .center-container__button {
    cursor: pointer;
    width: 320px;
    height: 70px;
    background-color: #00a5ff;
    border-radius: 50px;
    outline: 0;
    border: 0;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s; }
    .center-container__button:active {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }

.block-first {
  text-align: center;
  padding-top: 75px; }
  .block-first__head {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #3a3f4b;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    .block-first__head::after {
      content: "";
      display: block;
      width: 147px;
      margin: 30px auto 0px;
      height: 4px;
      background-color: #00a5ff; }

.services-list {
  padding-top: 120px;
  padding-bottom: 100px; }
  .services-list__item {
    display: inline-block;
    max-width: 260px;
    margin-right: 35px; }
    .services-list__item:last-child {
      margin-right: 0px; }
  .services-list__header {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 90px 0 38px;
    text-transform: uppercase; }
  .services-list__description {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    line-height: 20px; }

.logo-design-block__header,
.web-design-block__header,
.branding-block__header,
.illustrations-block__header {
  position: relative; }
  .logo-design-block__header::after,
  .web-design-block__header::after,
  .branding-block__header::after,
  .illustrations-block__header::after {
    content: "";
    width: 41px;
    height: 2px;
    background-color: #999999;
    position: absolute;
    left: calc(50% - 20.5px);
    bottom: 16px;
    margin: 0 auto; }

.logo-design-block__header::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  left: calc(50% - 17.5px);
  background: url(../img/logo-design.png) no-repeat; }

.web-design-block__header::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 35px;
  top: 20px;
  left: calc(50% - 21.5px);
  background: url(../img/web-design.png) no-repeat; }

.branding-block__header::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 35px;
  top: 20px;
  left: calc(50% - 11.5px);
  background: url(../img/branding.png) no-repeat; }

.illustrations-block__header::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 35px;
  top: 20px;
  left: calc(50% - 21px);
  background: url(../img/illustration.png) no-repeat; }

.block-second {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 80px;
  background-color: #f5f6f8; }
  .block-second__head {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #3a3f4b;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    .block-second__head::after {
      content: "";
      display: block;
      width: 147px;
      margin: 30px auto 0px;
      height: 4px;
      background-color: #00a5ff; }
  .block-second__button {
    margin-top: 62px;
    cursor: pointer;
    width: 280px;
    height: 65px;
    background-color: #00a5ff;
    border-radius: 50px;
    outline: 0;
    border: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s; }
    .block-second__button:active {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }

.portfolio-menu__item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  display: inline-block;
  padding-top: 63px;
  margin: 0 30px;
  text-transform: uppercase;
  font-weight: 500; }

.portfolio-content {
  padding: 50px 0 0 0;
  font-size: 0px; }
  .portfolio-content__block {
    width: 380px;
    height: 350px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
    vertical-align: top;
    font-size: 14px; }
    .portfolio-content__block:first-child, .portfolio-content__block:nth-child(4) {
      margin-left: 0px; }

.agency-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/1portfolio.png") no-repeat; }

.vodka-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/2portfolio.png") no-repeat; }

.web-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/3portfolio.png") no-repeat; }

.everest-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/4portfolio.png") no-repeat; }

.poster-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/5portfolio.png") no-repeat; }

.illustration-block__image {
  width: 380px;
  height: 280px;
  background: url("../img/6portfolio.png") no-repeat; }

.portfolio-content__discription {
  vertial-align: bottom;
  font-family: "Open Sans", sans-serif;
  color: #999999;
  font-size: 18px;
  font-width: 600;
  padding-top: 25px; }

.block-third {
  padding-bottom: 128px;
  text-align: center;
  padding-top: 70px; }
  .block-third__head {
    text-transform: uppercase;
    font-width: 600;
    font-size: 42px;
    font-family: "Lora", serif;
    color: #3a3f4b; }
    .block-third__head::after {
      content: "";
      display: block;
      width: 147px;
      margin: 30px auto 0px;
      height: 4px;
      background-color: #00a5ff; }
  .block-third__brand-item {
    margin-top: 91px;
    width: 150px;
    height: 100px;
    display: inline-block;
    font-size: 0px;
    margin-left: 50px;
    opacity: 0.5; }
    .block-third__brand-item:first-child {
      margin-left: 0px; }
    .block-third__brand-item:hover {
      opacity: 1; }

.bakery {
  background: url("../img/1brand.png") no-repeat; }

.cavalier {
  background: url("../img/2brand.png") no-repeat; }

.harvest {
  background: url("../img/3brand.png") no-repeat; }

.landlock {
  background: url("../img/4brand.png") no-repeat; }

.spectrum {
  background: url("../img/5brand.png") no-repeat; }

.home-energy {
  background: url("../img/6brand.png") no-repeat; }

.block-fourth {
  background-color: #f5f6f8; }
  .block-fourth__head {
    font-size: 42px;
    font-family: "Lora", serif;
    color: #3a3f4b;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center; }
    .block-fourth__head::after {
      content: "";
      display: block;
      width: 147px;
      margin: 30px auto 0px;
      height: 4px;
      background-color: #00a5ff; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }
