@import 'variables';
@import 'mixins';

.head-bar{
font-family: $lora;
		font-size: 42px;
		color: $font-blue-color;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		&::after{
			content: "";
			display:block;
			width: 147px;
			margin:30px auto 0px;
			height: 4px;
			background-color: $first-blue-color;
		}
}	
a {
	text-decoration: none;
}
.header{
	background: url("../img/index.jpg") center no-repeat;
	background-size: cover;

}
.navbar{
	@include clearfix;
	&__logo{
		float: left;
		margin-top: 25px;
	}
	&__list{
		float: right;
		font-size: 0px;
		margin-top: 40px;
	}
	&__item{
		display: inline-block;
		font-family: $open-sans; 
		font-size: 14px;
		color: #fff;
		margin-right: 50px;
		text-decoration: none;

		&:last-child{
			margin-right: 0px;
		}

	}
}
.container{
	height: 645px;
	padding: 210px 0 150px;
}
.center-container{
	
	text-align: center;
	&__head{
		font-family: $lora;
		color: #fff;
		font-weight: 600;
		font-size: 58px;
	}
	&__discription{
		font-family: $open-sans;
		color: #fff;
		font-size: 25px;
		padding: 45px 0 90px 0;
	}

	&__button{
		cursor: pointer;
		width:320px;
		height: 70px; 
		background-color: $first-blue-color;
		border-radius: 50px;
		outline: 0;
		border: 0;
		font-size: 25px;
		font-family: $open-sans;
		color: #fff;
		font-weight: 500;
		box-shadow: 1px 1px 5px rgba(0,0,0,.3);
		transition: 0.3s;
		&:active{
			box-shadow: 3px 3px 10px rgba(0,0,0,.3);
		}
	}

}

.block-first{
	text-align: center;
	padding-top: 75px;
	&__head{
		font-family: $lora;
		font-size: 42px;
		color: $font-blue-color;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		&::after{
			content: "";
			display:block;
			width: 147px;
			margin:30px auto 0px;
			height: 4px;
			background-color: $first-blue-color;
		}
	}
}
.services-list{
	padding-top: 120px;
	padding-bottom: 100px;
	&__item{
		display: inline-block;
		max-width: 260px;
		margin-right:35px;
		&:last-child{
			margin-right: 0px;
		}
	}
	&__header{
		font-family: $open-sans;
		font-weight: 600;
		font-size: 18px;
		padding: 90px 0 38px;
		text-transform: uppercase;
	}
	&__description{
		font-family: $open-sans;
		font-size: 12px;
		font-weight: 300;
		color: $font-grey-color;
		line-height: 20px;
	}
}

.logo-design-block,
.web-design-block,
.branding-block,
.illustrations-block{
	&__header{
		position: relative;
		&::after{
			content: "";
			width: 41px;
			height: 2px;
			background-color: $font-grey-color;
			position: absolute;
			left:calc(50% - 20.5px);
			bottom:16px;
			margin: 0 auto;
		}
	}
}
.logo-design-block{
	&__header{
		&::before{
			content: "";
			position: absolute;
			width: 35px;
			height: 35px;
			top:20px;
			left:calc(50% - 17.5px);
			background: url(../img/logo-design.png) no-repeat;
		}
	}
}
.web-design-block{
	&__header{
		&::before{
			content: "";
			position: absolute;
			width: 43px;
			height: 35px;
			top:20px;
			left:calc(50% - 21.5px);
			background: url(../img/web-design.png) no-repeat;
			
		}
	}
}
.branding-block{
	&__header{
		&::before{
			content: "";
			position: absolute;
			width: 23px;
			height: 35px;
			top:20px;
			left:calc(50% - 11.5px);
			background: url(../img/branding.png) no-repeat;
			
		}
	}
}
.illustrations-block{
	&__header{
		&::before{
			content: "";
			position: absolute;
			width: 42px;
			height: 35px;
			top:20px;
			left:calc(50% - 21px);
			background: url(../img/illustration.png) no-repeat;
			}
	}
}

.block-second{
text-align: center;
padding-top: 46px;
padding-bottom: 80px;
background-color: $grey-background;
&__button{
	margin-top: 62px;
	cursor: pointer;
	width:280px;
	height: 65px; 
	background-color: $first-blue-color;
	border-radius: 50px;
	outline: 0;
	border: 0;
	font-size: 18px;
	font-family: $open-sans;
	font-weight: 500;
	color: #fff;
	font-weight: 500;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
	transition: 0.3s;
	&:active{
		box-shadow: 3px 3px 10px rgba(0,0,0,.3);
		}
	}
}

.portfolio-menu{
&__item{
		font-family: $open-sans;
		font-size: 14px;
		color: $font-grey-color;
		display: inline-block;
		padding-top: 63px;
		margin: 0 30px;
		text-transform: uppercase; 
		font-weight: 500;
		&:hover{
		color: $first-blue-color;
		}
	}
}
.tabs_divs div{
    display: none;
}
.tabs_divs div.active{
    display: block;
}
.tabs li.active{
color: $first-blue-color;
	&::after{
	content: "";
	display: block;
	margin: 10px auto 0px;
	height: 1px;
	background-color: $first-blue-color;
	}
}

.portfolio-content{
	padding: 50px 0 0 0;
	font-size: 0px;
	&__block{
		width: 380px;
		height: 350px;
		box-shadow: 1px 1px 5px rgba(0,0,0,.3);
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 15px;
		vertical-align:top;
		font-size: 14px;
			&:first-child,
			&:nth-child(4){
				margin-left: 0px;
			}

	}
}

.portfolio-content__discription{
	font-family: $open-sans;
	color: $font-grey-color;
	font-size: 18px;
	font-weight: 600;
	padding-top: 25px;
	display:block;

}

.block-third{
padding-bottom: 128px;
text-align: center;
padding-top: 70px;
font-size: 0;
	&__brand-item{
	margin-top: 91px;
	width: 150px;
	height: 100px;
	display: inline-block;
	font-size: 0px;
	margin-left:50px;
		&:first-child{
			margin-left: 0px;
		}
	opacity: 0.5;
	&:hover{
	opacity: 1;
	}
}
}

.block-fourth{
	background-color: $grey-background;
	text-align: center;
	padding-top: 70px;
}




ol{
	list-style: none;
}
.prev,
.next { 
	display: block;
	text-indent: -9999px;
}

.prev { 
	background-image: url(../img/icon_right.png);
	background-position: center center;
	background-repeat: no-repeat;

}
.next {
	background-image: url(../img/icon_left.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.testimonials{ 
	position: relative; 
	width: 100%; 
	padding: 100px 0; 
}
.testimonials .prev,
.testimonials .next {
	float: left;
	position: absolute;
	top: 50%;
	margin: -50px 0 0 0;
	width: 3.5%;
	height: 100px;
	display: block;
}
.testimonials .prev { left: 0; background-position: 60% 50%; }
.testimonials .next { right: 0; background-position: 40% 50%; }
.slider-content{
	&__discription{
	margin: 50px auto 0;
	width: 600px;
	font-family: $open-sans;
	font-size: 21px;
	font-weight: 500;
	color: $font-blue-color;
	}
}

.block-fifth{
	background-color: #3b404c;
	@include clearfix;
	color: $grey-background;

}


.contact-header{
	padding-top: 70px;
	&__logo{
		float: left;
		font-family: $lora;
		font-size: 33px;
		font-weight:  600;
	}
	&__navbar{
		float: right;
		font-size: 0px;
	}
	&__item{
		display: inline-block;
		font-family: $open-sans;
		font-size: 21px;
		font-weight: 500;
		margin-right: 30px;
		&:last-child{
		margin-right: 0px;
	}
	}
}

.contact-details{
	padding-top: 80px;
	width: 350px;
	&__item{
		padding: 30px 0;
	}	
}
.contact-form{
display:inline-block;
	&__head{
		font-family: $open-sans;
		font-weight: 600;
		font-size: 24px;
		padding-bottom: 28px;
		text-transform: uppercase;
	
	}
	&__description{
	font-family: $open-sans;
	font-weight: 500;
	font-size: 18px;
	color: $font-grey-color;

	}

}
